:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
/* Animations */
@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
#backpack-icon.animate {
  animation: scale 0.3s ease-out;
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}

/*blink effect*/
#discount {
  width: 465px;
  height: 60px;
  background-color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
#discount > span {
  font-size: var(--font-base);
  font-family: var(--font-body);
  color: var(--light-grey);
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*end blink effect*/

/*animation for trash icon*/
#removeItem {
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

#removeItem:hover {
  transform: scale(1.1);
}

/*animation for add icon*/
.cart-card__quantity:hover {
  transform: scale(1.2);
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 1px;
  width: 465px;
  background-color: var(--primary-color);
  border: 1px solid red;
}
.alert > p {
  margin: 0;
}

#alertSuccess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 5px;
  width: 465px;
  background-color: rgb(78, 243, 78);
  border: 3px solid var(--primary-color);
}

#myX {
  background-color: gray;
  border: 1px solid red;
  padding: 3px;
  margin: 2px;
  opacity: 0.7;
}

#myX:hover {
  transform: scale(1.2);
  background-color: red;
  border: 2px solid green;
  padding: 3px;
  margin: 2px;
  opacity: 1;
}
/*End alerts*/

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 4px;
  font-size: var(--large-font);
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  background-color: #40470b;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
.cart-footer {
  visibility: visible;
  text-align: right;
}

.cart-total-text {
  display: inline;
}

.cart-total-value {
  display: inline;
}
/* End utility classes */

/*Superscript number of items*/
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #bdab92;
}
#lblCartCount {
  font-size: 12px;
  background: #ff6600;
  color: rgb(10, 10, 10);
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
/* End Superscript number of items*/

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
#sort-by {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#sort-by span {
  cursor: pointer;
}

.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  position: relative;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.product-card button {
  background: none;
  color: var(--secondary-color);
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  z-index: 2;
}

.product-card .quick-view-modals {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: white;
  width: 96%;
  height: 40%;
  display: none;
}

.product-card .quick-view-modals.show {
  display: block;
}

.product-card #quick-view-discount {
  padding: 0.3rem;
  background: var(--secondary-color);
  color: white;
  width: 8rem;
  border-radius: 4px;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/*Start trash-symbol*/
#trash-symbol {
  text-align: left;
  text-decoration: none;
}
/*End trash-symbol*/

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/********** Home page **********/
.products-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.products-category a {
  text-decoration: none;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 6rem;
  text-align: center;
}

.category h1 {
  font-size: 1rem;
  color: black;
}

.category picture {
  width: 80px;
  height: 80px;
}

.category picture img {
  width: 100%;
  height: auto;
}
/* Searchbox */
#search-box-container {
  display: flex;
  height: 40px;
  width: 500px;
}

#search-box-container #search-box {
  border: none;
  border: 1px solid gray;
  border-radius: 4px 0 0 4px;
  width: 100%;
}

#search-box-container button {
  height: 40px;
  padding: 0.5rem;
  border-radius: 0 4px 4px 0;
}

#products {
  color: red;
}

/* Checkout */
#checkout-main {
  display: grid;
  place-items: center;
  padding: 3rem 1rem;
}

#checkout-form-container {
  width: 100%;
  max-width: 30rem;
}

#checkout-form {
  width: 100%;
}

#checkout-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#checkout-form .form-field {
  display: flex;
  flex-direction: column;
}

#checkout-form .form-field input {
  height: 40px;
}

#checkout-form #orderTotal,
#checkout-form #orderTotalValue {
  font-weight: bold;
}

/* Modal */
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s ease;
}

#modal-background.show {
  opacity: 1;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  width: 40rem;
  opacity: 0;
  transition: 1s ease;
  pointer-events: none;
}

#modal.show {
  opacity: 1;
}

#modal-content {
  display: grid;
  place-items: center;
}

#modal-content span {
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

#modal-content #source a {
  color: black;
}

#modal-content #source,
#disclaim {
  font-size: 12px;
}

#modal-content button {
  margin-top: 0.5rem;
}

/* Newsletter signup */
#newsletter-signup {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  margin: 4rem 0;
  padding: 2rem;
}

#newsletter-form {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-field input {
  height: 40px;
  padding-left: .5rem;
}

.form-field input:valid {
  border: 1px solid green;
}

#newsletter-signup-btn {
  margin-top: .7rem;
}