<!-- header.html -->
<div class="logo">
  <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
  <a href="../index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<!-- Search box -->
<div id="search-box-container">
  <input list="products" id="search-box" name="search-box" />
  <datalist id="products"> </datalist>
  <a id="search"><button>Search</button></a>
</div>
<div class="cart">
  <!-- <a href="cart.html"> -->
  <a href="../cart/index.html">
    <img
      id="backpack-icon"
      src="/images/cart-backpack-icon.svg"
      alt="Cart backpack icon"
      width="30px"
      height="30px"
    />
  </a>
  <!-- <span class="badge badge-warning" id="lblCartCount" value="0"> 6 </span> -->
</div>
