<!-- header.html -->
<div class="logo">
    <img src="/images/noun_Tent_2517.svg" alt="tent image for logo">
    <a href="../index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<!-- Search box -->
<div id="search-box-container">
    <input list="products" id="search-box" name="search-box">
    <datalist id="products">
      <option value=""></option>
    </datalist>
</div>
<div class="cart">
    <!-- <a href="cart.html"> -->
    <a href="../cart/index.html">
        <img src="/src/public/images/cart-backpack-icon.svg" alt="Cart backpack icon">
    </a>
    <span class="badge badge-warning" id="lblCartCount"> </span>
</div>